body{
    background-color: #DFD5EC;
}

.app-container{
    display: flex;
    flex-direction: column;
    height: 97vh;
}

.app-body-screen{
    margin-top: 20px;
    background-color: white;
    flex-grow: 1;
}

.app-head-screen{
    height: 60px;
}