.team-page-master-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.team-page-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFDCC6;
    height: 100%;
    width: 95%;
    margin: 20px;
}

.team-chat-display-container {
    height: 380px;
    overflow-y:auto;
    border: 3px solid black;
    background-color: #f8e3d5;
}

.team-page-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #FFDCC6;
}

.arrow-icon-team-page {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.team-page-header-text-container {
    display: flex;
    align-items: center;
    font-size: 30px; 
    font-weight: bold;
    color: #2F7AC4;
    padding-right: 10px;
}

.team-page-body-view-container {
    width: 100%;
    height: 100%;
}

.team-page-body-text-container {
    width: 25%;
    height: 100%;
}

/*
JOIN / CREATE VIEW
*/
.create-join-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.create-join-text {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.create-join-button-container {
    display: flex;
    height: 100%;
    gap: 100px;
}

.create-join-existing-team-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.create-join-new-team-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-join-button-new-team {
    margin-top: 40px;
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: #D8782C;
    cursor: pointer;
    color: #D3E4FF;
    border-radius: 10% 10%;
    border: none;
}


.create-join-button-existing-team {
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: #D8782C;
    cursor: pointer;
    color: #D3E4FF;
    border-radius: 10% 10%;
    border: none;
}

.create-join-error-text {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

/*
WAITING VIEW
*/
.waiting-view-container {
    height: 100%;
}

.waiting-view-leader-container {
    height: 100%;
}

.waiting-view-leader-text {
    margin: 20px;
    font-size: xx-large;
    text-align: center;
}

.waiting-view-leader-button {
    margin: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.waiting-view-button {
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: #D8782C;
    cursor: pointer;
    color: #D3E4FF;
    border-radius: 10% 10%;
    border: none;
}

.waiting-view-member-container {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

/*
QUIZ VIEW
*/

.quiz-view-master-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.quiz-view-question-container {
    width: 75%;
}

.quiz-view-question-number {
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
}

.quiz-view-question-text {
    font-size: xx-large;
    width: 100%;
}

.quiz-view-answer-container {
    height: 100%;
    padding: 20px;
}

.answer-choices-container {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.answer-choices-options {
    width: 100%;
}

.question-submit-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: #D8782C;
    cursor: pointer;
    color: #D3E4FF;
    border-radius: 10% 10%;
    border: none;
}

.quiz-view-text {
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
}

.quiz-view-button-complete {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: #D8782C;
    cursor: pointer;
    color: #D3E4FF;
    border-radius: 10% 10%;
    border: none;
    margin-top: 40px;
}
/*
SCORES VIEW
*/

.scores-view-text {
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
}